#app {
    /* height: 100%; */
  }
  html,
  body {
    /* position: relative;
    height: 100%; */
  }
  
  body {
    /* background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0; */
  }
  
  .swiper {
    /* width: 100%;
    height: 100%; */
  }
  
  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* display: grid;
    grid-template-columns: 3 (1dr, 1fr, 1fr); */
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (min-width: 360px) and (max-width: 420px) {
    .carousel-div {
      /* display: flex;
        overflow-wrap: break-word; */
      /* gap: 20px; */
      margin-right: 20px;
      /* flex-direction: ; */
    }
    .line-2 {
      margin-bottom: 60px;
    }
    .single-swiper {
      /* display: grid;
      grid-template-columns: 3 (1fr, 1fr, 1fr);
      gap: 10px; */
    }
    .card-1 {
      /* padding-right: 20px; */
      /* border: 2px solid green; */
      width: 310px;
      height: 467.26px;
    }
    .single-card-div {
      /* display: grid;
      grid-template-columns: 2;
      gap: 50px; */
      /* padding-right: 100px;
      border: 2px solid red; */
      /* background-color: #ffffff; */
      /* margin-right: 50px; */
    }
    .carousel-card-img {
      width: 310px;
      height: 249.45px;
    }
    .carousel-title {
      font-size: 12px;
    }
    .carousel-des {
      font-size: 9px;
    }
  }
  